*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.container{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.outer-loader{
    width: 45px;
    height: 45px;
    border: 4px solid red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid white;
    animation: 3s loader linear infinite;
}

.inner-loader{
    width: 30px;
    height: 30px;
    border: 4px solid red;
    border-radius: 50%;
    border-left: 4px solid white;
    animation: 1.5s loader-1 linear infinite;
}


span{
    padding-top: 1rem;
    font-size: 19px;
    font-family: cursive;
}

@keyframes loader{
    0%{
        transform: rotate(360deg);
    }
}

@keyframes loader-1{
    0%{
        transform: rotate(-360deg);
    }
}

